# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.env/

# Flask
instance/
.webassets-cache
flask_session/

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
tododata.db

# CS50
cs50.dev

# history
old version/
CHANGELOG.md
